<%= form_with(model: article, class: 'new-article-form') do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, placeholder: 'Write your title here...', 
                                class: 'new-article-title',
                                required: true, 
                                minlength: 2,
                                maxlength: 100
    %>
  </div>

  <div class="field">
    <%= form.text_area :text, placeholder: 'Write your article here...', 
                              required: true,
                              minlength: 2,
                              maxlength: 3000
    %>
  </div>

  <div class="field">
    <%= form.label :image, 'Image URL' %>
    <%= form.text_field :image, class: 'image-input', required: true %>
  </div>

    <%= form.hidden_field :author_id, value: current_user.id %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select(:category_id, @category_options) %>
  </div>

  <div class="actions">
    <%= form.submit 'Publish', class: 'publish-btn' %>
  </div>
<% end %>
