<p id="notice"><%= notice %></p>

<div class="main-container">
  <article class="main-article">
    <div class="article-top-line flex">
      <div class='red-line'></div>
      <div class='gray-line'></div>
    </div>
      <%=  image_tag @featured.image, class: 'main-article-image' %>
    <div class="main-article-info">
      <%= link_to @featured.title, @featured, class: 'main-article-title'%>
      <div class='main-article-caption'><%= @featured.text[0..100] %></div>
    </div>
  </article>
  <div class="categories flex">
    <article class='category-item'>
      <%= category_article_item(@first) %>
    </article>
    <article class='category-item'>
      <%= category_article_item(@second) %>
    </article>
        <article class='category-item'>
      <%= category_article_item(@third) %>
    </article>
    <article class='category-item'>
      <%=category_article_item(@fourth) %>
    </article>
    
  </div>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
