<p id="notice"><%= notice %></p>
  <div class='show-container'>
    <div class='article-top-line flex'>
      <div class='red-line'></div>
      <div class='gray-line'></div>
    </div>
    <div class= 'article-show-container'>
      <h1 class='article-show-title'><%= @article.title %></h1>
      <p>
      By <%= User.find(@article.author_id).name.titleize %>
      </p>
      <%= image_tag @article.image, alt: 'This is my image', class: 'article-show-image' %>
      <p>
        <%= @article.text %>
      </p>
      <p>
      Category:
        <%= link_to Category.find(@article.category_id).name.titleize, category_path(Category.find(@article.category_id)), class: 'category-link' %>
      </p>
    </div>
  </div>

<%= link_to 'Back to Category', category_path(@article.category_id) %>
