<%= form_with(model: user, url: 'signup') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label(:name, "Username: ") %><br>
    <%= form.text_field :name, placeholder: "sandycheeks123" %><br>
  </div>

  <div class="actions">
    <%= form.submit('Register') %>
  </div>
<% end %>
