<p id="notice"><%= notice %></p>

<div class='articles-container grid'>
 <div class="article-container flex"><%= category_article(@first, @category) %></div>
 <div class="article-container flex"><%= category_article(@second, @category) %></div>
 <div class="article-container flex reverse"><%= category_article(@third, @category) %></div>
 <div class="article-container flex reverse"><%= category_article(@fourth, @category) %></div>
</div>

<%= link_to 'Back', categories_path %>
