<nav class='flex'>
      <div class="navbar-link"><a class='navbar-brand' href="/">Outd<i class="brand-bike fas fa-biking"></i>rLife</a></div>
      <div class='navbar-link navbar-category-links'>
        <%= link_to 'HOME', root_path, class: 'navbar-link navbar-home' %>
        <%= link_to 'WRITE AN ARTICLE', new_article_path, class: 'navbar-link navbar-home' %>
        <%= link_to 'CAMPING', category_path(1), class: 'navbar-link'%>
        <%= link_to 'TREKKING', category_path(2), class: 'navbar-link'%>
        <%= link_to 'BIRD WATCHING', category_path(3), class: 'navbar-link'%>
        <%= link_to 'BIKING', category_path(4), class: 'navbar-link'%>
      </div>
      <div class="navbar-session-links flex">
        <%=navbar_button_login%>
        <p class='link-separator'>|</p>
        <%=navbar_button_sign_up%>
        <%=navbar_button_name%>
        <%=navbar_button_logout%>
      </div>
    

</nav>